/* Elemento selektoriai*/
/*body{
	background:#eee url("../image/foto2.png")repeat-y; /*repeat-y su be ir alternatyvas pasiziuret*/
/*	background-size: contain;
}*/
/*section{
	background-color: rgba(97,107,120,0.6);
	padding:20px;
	/*opacity: 0.6;      geriau naudot rba, o ne opacity ir det i background-color textas desis ant virsaus*/
/*}*/
table{
	width:100%;
	border-collapse: collapse; /*Sutraukia langelius salius viena salia kito*/
}
th, td{
	border:1px solid #000;
	text-align: left;
	padding: 8px;
}
/**{
	text-align:center;
}*/
/*article{
	color: red;
}
#promo{
	color:blue;
}*/
/*article#promo{
	color:yellow;
} galima ir taip, bet praktikoj nedaroma*/
/*.blue{
color:blue;
}
.center{
text-align: center;
}
.bg-silver{
	background-color:silver;
}*/
/*-----------attribute selectors----------*/
/*a[href="http://www.delfi.lt"]{
	color:red;
}
a[href="http://www.google.lt"]{
	color:cyan;
}
a[href="http://www.facebook.lt"]{
	color:green;
}
a[href="http://www.lrytas.lt"]{
	color:blue;
}
a[href="http://www.smm.lt"]{
	color:grey;
}
h1{
	color:green;
}
a[href$=".docx"]{
	color:red;
}
a[href$=".xlsx"]{
	color:purple;
}

a:hover{
	color:red;
}*/
/*--------------PSEUDO CLASSES--------------*/
/*.todo ul :first-child{	/* taikymas pirmam elementui*/
/*	color: red;
}
.todo ul :last-child{
	color: blue;				
}				*/
/*.todo ul :nth-child(2){		/* taikymas antram child elementui*/
/*	color: aqua;
}								*/
/*.todo ul :nth-child(2n+1){	/* kas antra zymi (2n), pradeda nuo pirmo elemento(+1)*/
/*	color: green;
}			*/
/*-------------------------------------*/
/*.todo ul li{
	color:red;
}
/*--------------taikymassis i  vieta kur daryt pakeitimus-------------*/
/*.todo ul>li>ul>li{
	color:green;
}
/*-------------galima daryt kelia i elementus ir be rodykliu--------*/
/*.todo ul li ul li{
	color:green;
}*/
/*-----------------fonts---------------*/
section h1{
	color: #42c7bc;
	font-size: 2.2em;
	font-family: 'Arial', 'Tahoma' sans-serif;
}
section h3{
	color: #db4bca;
	font-size: 1.8em;
	font-style: italic;
	text-transform: uppercase;
}
section h1, section h2{
	font-family: 'Roboto', sans-serif
}
section article p{
	font-family: 'Open Sans', sans-serif
	text-align:justify;
	color:#65a69c;
}
section article p span{
	font-weight: bold;/*bolder 500*/
	text-decoration: underline;
	line-height: 2;
}
section article a{
	text-decoration: none;
}